# Intro to Modeling

Plan ➔ Acquire ➔ Prepare ➔ Explore ➔ **Model** ➔ Deliver

Before modeling:

0. Split your data
1. Data preprocessing

The modeling "loop"

1. Create a model
    - algorithm + hyperparams
    - training data
1. Evaluate the model
1. Repeat

After a certain amount of time or repititions has passed:

1. Compare models
1. Evaluate on test

In [1]:
# We'll use sklearn's Dummy Classifier as a standin for other classification algorithms
# The sklearn API operates in the same way as our "real" models
import pandas as pd
from sklearn.dummy import DummyClassifier
from sklearn.metrics import classification_report
import acquire
import prepare

import warnings
warnings.filterwarnings('ignore')

## Data Split

In [2]:
train, validate, test = prepare.prep_titanic(acquire.get_titanic_data())
train.shape, validate.shape, test.shape

((497, 14), (214, 14), (178, 14))

In [3]:
X_train, y_train = train.drop(columns='survived'), train.survived
X_validate, y_validate = validate.drop(columns='survived'), validate.survived
X_test, y_test = test.drop(columns='survived'), test.survived

## Create our First Model

### Aside: Working with sklearn ML objects

1. Create the object
1. Fit the object on training data
1. Use the object (.score, .predict, .transform)

In [4]:
# 1. Create the object
model = DummyClassifier(strategy='constant', constant=1) # here, we're predicting everyone survives
# 2. Fit the object
model.fit(X_train, y_train)

DummyClassifier(constant=1, strategy='constant')

Ways we use sklearn classification models:

- `.score` gives us accuracy
- `.predict` lets us make predictions given a set of indep vars
- `.predict_proba` gives us the probability that each observation falls into each label
- some specific model types have additional properties

In [5]:
accuracy = round(model.score(X_train, y_train), 2)
print(f'Training accuracy: {accuracy}')

Training accuracy: 0.38

In [6]:
# TODO: view the accuracy on the validate split
model.score(X_validate, y_validate)

0.38317757009345793

In [7]:
model.predict(X_validate)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

When using `.predict`, the values passed must be the same shape as the values used to fit!

In [8]:
# TODO: create a new column on the train dataframe that contains the models predictions
train['prediction'] = model.predict(X_train)

In [9]:
train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,Q,S,prediction
583,583,0,1,male,36.000000,0,0,40.1250,C,First,Cherbourg,1,0,0,1
337,337,1,1,female,41.000000,0,0,134.5000,C,First,Cherbourg,1,0,0,1
50,50,0,3,male,7.000000,4,1,39.6875,S,Third,Southampton,0,0,1,1
218,218,1,1,female,32.000000,0,0,76.2917,C,First,Cherbourg,1,0,0,1
31,31,1,1,female,29.916875,1,0,146.5208,C,First,Cherbourg,0,0,0,1

In [10]:
# use the column you just created and the actual values in the survived column
# to generate a classification report
print(classification_report(train.survived, train.prediction, zero_division=True))

              precision    recall  f1-score   support

           0       1.00      0.00      0.00       307
           1       0.38      1.00      0.55       190

    accuracy                           0.38       497
   macro avg       0.69      0.50      0.28       497
weighted avg       0.76      0.38      0.21       497

In [11]:
pd.DataFrame(classification_report(train.survived, train.prediction, output_dict=True)).transpose()

              precision    recall  f1-score     support
0              0.000000  0.000000  0.000000  307.000000
1              0.382294  1.000000  0.553130  190.000000
accuracy       0.382294  0.382294  0.382294    0.382294
macro avg      0.191147  0.500000  0.276565  497.000000
weighted avg   0.146149  0.382294  0.211458  497.000000

## More models

Now we'll make more models, one model is the unique combination of:

- algorithm
- hyperparameters
- training data

In [12]:
# What if we randomly guess?
model2 = DummyClassifier(strategy='uniform')

# TODO: fit the model on the training data
model2.fit(X_train, y_train)

# TODO: see how this model performs on train
accuracy = model2.score(X_train, y_train)
round(accuracy, 2)

0.5

In [13]:
# Let's make a 3rd model, using the most frequently occurring class in the target
model3 = DummyClassifier(strategy='most_frequent')
model3.fit(X_train, y_train)
accuracy = model3.score(X_train, y_train)
round(accuracy, 2)

0.62

What are we looking for when evaluating model performance?

- Is the model overfit? I.e. does it perform drastically better on the training data compared to the validate split
- How good or bad is the model, i.e. how does it perform
    - compared to the other models
    - compared to the baseline model

## Compare and Finalize

In [14]:
# TODO: compare the performance of your models on the validate split

In [15]:
# TODO: find the performance of your best model on the test split