# Evaluation Exercises

### Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

- In the context of this problem, what is a false positive?
    - False Positive: Predicted it was a dog, but it was a cat
        
        
- In the context of this problem, what is a false negative?
     - False Negative: Predicted it was a cat, but it was a dog
        
        
- How would you describe this model?
     - I would say it is a pretty good model since the True Positives and True Negatives are high meaning it has high Accuracy (80% Accurate)

### You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

 - An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?


      - RECALL because we want to reduce False Negatives since we don't want defects found when we predicted no defects.  Cost of False Positives is more than the cost of False Negatives.

- Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?


    - PRECISION because we want to reduce False Positives since we don't want to predict no defects when we actually had a defect.  Cost of False Negatives is more than the cost of False Positives.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
csv = "c3.csv"
df= pd.read_csv(csv)

In [11]:
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [13]:
# pd.crosstab(df.actual, df.prediction)
pd.crosstab(df.model1, df.actual)

actual     Defect  No Defect
model1
Defect          8          2
No Defect       8        182

In [14]:
pd.crosstab(df.model2, df.actual)

actual     Defect  No Defect
model2
Defect          9         81
No Defect       7        103

In [15]:
pd.crosstab(df.model3, df.actual)

actual     Defect  No Defect
model3
Defect         13         86
No Defect       3         98

In [16]:
# Which label appears most frequently in our dataset?
df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [17]:
# create a new column called 'baseline_prediction'
# which is the most frequent label e.g. in this case 'No Defect'

df['baseline_prediction']='No Defect'
df

        actual     model1     model2     model3 baseline_prediction
0    No Defect  No Defect     Defect  No Defect           No Defect
1    No Defect  No Defect     Defect     Defect           No Defect
2    No Defect  No Defect     Defect  No Defect           No Defect
3    No Defect     Defect     Defect     Defect           No Defect
4    No Defect  No Defect     Defect  No Defect           No Defect
..         ...        ...        ...        ...                 ...
195  No Defect  No Defect     Defect     Defect           No Defect
196     Defect     Defect  No Defect  No Defect           No Defect
197  No Defect  No Defect  No Defect  No Defect           No Defect
198  No Defect  No Defect     Defect     Defect           No Defect
199  No Defect  No Defect  No Defect     Defect           No Defect

[200 rows x 5 columns]

In [ ]:
# Model and baseline accuracy:

model_accuracy = (df.actual == df.prediction).mean()
baseline_accuracy = (df.actual == df.baseline_prediction).mean()

print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

### You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?
Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [18]:
csv = "gives_you_paws.csv"
df= pd.read_csv(csv)

In [19]:
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [20]:
# pd.crosstab(df.actual, df.prediction)
pd.crosstab(df.model1, df.actual)

actual   cat   dog
model1
cat     1423   640
dog      323  2614

In [21]:
pd.crosstab(df.model2, df.actual)

actual   cat   dog
model2
cat     1555  1657
dog      191  1597

In [22]:
pd.crosstab(df.model3, df.actual)

actual  cat   dog
model3
cat     893  1599
dog     853  1655

In [23]:
pd.crosstab(df.model4, df.actual)

actual   cat   dog
model4
cat      603   144
dog     1143  3110

In [24]:
# Which label appears most frequently in our dataset?
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [42]:
# create a new column called 'baseline_prediction'
# which is the most frequent label e.g. in this case 'No Defect'

df['baseline_prediction']='dog'
df

,actual,model1,model2,model3,model4,baseline_prediction,dog_baseline_prediction
0,cat,cat,dog,cat,dog,dog,dog
1,dog,dog,cat,cat,dog,dog,dog
2,dog,cat,cat,cat,dog,dog,dog
3,dog,dog,dog,cat,dog,dog,dog
4,cat,cat,cat,dog,dog,dog,dog
...,...,...,...,...,...,...,...
4995,dog,dog,dog,dog,dog,dog,dog
4996,dog,dog,cat,cat,dog,dog,dog
4997,dog,cat,cat,dog,dog,dog,dog
4998,cat,cat,cat,cat,dog,dog,dog
4999,dog,dog,dog,dog,dog,dog,dog

### 4.a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [45]:
# Model and baseline accuracy:

model1_accuracy = (df.actual == df.model1).mean()
model2_accuracy = (df.actual == df.model2).mean()
model3_accuracy = (df.actual == df.model3).mean()
model4_accuracy = (df.actual == df.model4).mean()

dog_baseline_accuracy = (df.actual == df.baseline_prediction).mean()

print(f'   model 1 accuracy: {model1_accuracy:.2%}')
print(f'   model 2 accuracy: {model2_accuracy:.2%}')
print(f'   model 3 accuracy: {model3_accuracy:.2%}')
print(f'   model 4 accuracy: {model4_accuracy:.2%}')
print('')

print(f'(all dog) baseline accuracy: {dog_baseline_accuracy:.2%}')

   model 1 accuracy: 80.74%
   model 2 accuracy: 63.04%
   model 3 accuracy: 50.96%
   model 4 accuracy: 74.26%

(all dog) baseline accuracy: 65.08%

### 4.b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

### 4.c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [46]:
df['baseline_prediction']='cat'
df

,actual,model1,model2,model3,model4,baseline_prediction,dog_baseline_prediction
0,cat,cat,dog,cat,dog,cat,dog
1,dog,dog,cat,cat,dog,cat,dog
2,dog,cat,cat,cat,dog,cat,dog
3,dog,dog,dog,cat,dog,cat,dog
4,cat,cat,cat,dog,dog,cat,dog
...,...,...,...,...,...,...,...
4995,dog,dog,dog,dog,dog,cat,dog
4996,dog,dog,cat,cat,dog,cat,dog
4997,dog,cat,cat,dog,dog,cat,dog
4998,cat,cat,cat,cat,dog,cat,dog
4999,dog,dog,dog,dog,dog,cat,dog

In [48]:
# Model and baseline accuracy:

model1_accuracy = (df.actual == df.model1).mean()
model2_accuracy = (df.actual == df.model2).mean()
model3_accuracy = (df.actual == df.model3).mean()
model4_accuracy = (df.actual == df.model4).mean()

cat_baseline_accuracy = (df.actual == df.baseline_prediction).mean()

print(f'   model 1 accuracy: {model1_accuracy:.2%}')
print(f'   model 2 accuracy: {model2_accuracy:.2%}')
print(f'   model 3 accuracy: {model3_accuracy:.2%}')
print(f'   model 4 accuracy: {model4_accuracy:.2%}')
print('')

print(f'(all cat) baseline accuracy: {cat_baseline_accuracy:.2%}')

   model 1 accuracy: 80.74%
   model 2 accuracy: 63.04%
   model 3 accuracy: 50.96%
   model 4 accuracy: 74.26%

(all cat) baseline accuracy: 34.92%